- content_for :header_search_place do
  = render 'partials/search', :size => 'small'

.content-page
  .container.well-white
  
    .provider-unit
      .provider-cover
        = image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive', :title => 'McFit Köln Bonner Straße')
        .overlay
          %h4.lower Open Today until 21:00
          %p
            %small Last update: 1 week ago
      / END .provider-cover
      .row
        %article.col-md-8.marg-bottom
          .marg-right
            .provider-top-info
              = image_tag("providers/img2-231x231.jpg", :class => 'img-responsive pull-left thumbnail', :title => 'McFit Köln Bonner Straße')
              .clearfix.visible-xs
              .media-body
                .provider-gallery-slider#provider-gallery
                  = link_to '#', :class => 'next-slide' do
                    %i.fa.fa-caret-right
                  .inner
                    .swiper-container
                      .swiper-wrapper
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail') 
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')  
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail') 
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')
                        .swiper-slide= image_tag("covers/img1-1045x368.jpg", :class => 'img-responsive thumbnail')  
            / END .provider-top-info
            .page-header.marg-bottom
              %h2.no-marg-bottom 
                McFit Köln Bonner Straße
                .small fitness studio
            %blockquote
              Holmes Place gehört weltweit zu den führenden Anbietern für eine ganzheitliche Gesundheits- und Fitnessbetreuung. Genißene Sie unsere vielseitige Fitness- und Serviceangebote sowie unseren neuen fantastischen Spa-Bereich. Lernen Sie die Vielzahl der Service-Angebote bei Holmes Place kenen und lassen Sie sich inspirieren, getreu unserem Motto: One life.live it well!
            .provider-review
              .top-info
                .row
                  .col-sm-6
                    .media
                      %h6.pull-left 112 ratings
                      .clearfix.visible-xs
                      .media-body
                        %ul.rating.rating-lg.list-unstyled.list-inline.no-marg-bottom
                          %li.active 
                            %i.fa.fa-star
                          %li.active
                            %i.fa.fa-star
                          %li.active 
                            %i.fa.fa-star
                          %li 
                            %i.fa.fa-star
                          %li 
                            %i.fa.fa-star
                  %hr.visible-xs
                  .col-sm-6
                    .media
                      %h6.pull-left Price range
                      .clearfix.visible-xs
                      .media-body 
                        %ul.rating.rating-lg.list-unstyled.list-inline.no-marg-bottom
                          %li.active 
                            %i.fa.fa-eur
                          %li.active
                            %i.fa.fa-eur
                          %li.active 
                            %i.fa.fa-eur
                          %li 
                            %i.fa.fa-eur
              .bottom-info
                %h6.text-warning fitogram review
                %p Great provider. A great studio of 2.000 m² recently refurbished (in 2010). With swimming pool and sauna. Great team making it even better to work out.              
            / END .provider-review
            %h4.text-danger.no-marg-top
              .media
                %i.fa.flaticon-running.ico-circle.ico-red.ico-lg.pull-left
                .media-body Activities
            
            %ul.list-unstyled.row
              %li.col-md-3.col-sm-4.col-xs-6 Bodypump
              %li.col-md-3.col-sm-4.col-xs-6 Yoga
              %li.col-md-3.col-sm-4.col-xs-6 Taichi
              %li.col-md-3.col-sm-4.col-xs-6 Spinning
              %li.col-md-3.col-sm-4.col-xs-6 Les Mills
              %li.col-md-3.col-sm-4.col-xs-6 Zumba
              %li.col-md-3.col-sm-4.col-xs-6 Swimming
              %li.col-md-3.col-sm-4.col-xs-6 Athletics
              %li.col-md-3.col-sm-4.col-xs-6 Judo
              %li.col-md-3.col-sm-4.col-xs-6 Scubadiving
              %li.col-md-3.col-sm-4.col-xs-6 Aquagym
              %li.col-md-3.col-sm-4.col-xs-6 Aerobic
              %li.col-md-3.col-sm-4.col-xs-6 Prevention
              %li.col-md-3.col-sm-4.col-xs-6 Anti stress
              %li.col-md-3.col-sm-4.col-xs-6 Autogenes
            
            %hr
            
            .row-options.row
              .col-md-3.col-sm-4
                .inner-col
                  %h6.text-primary.no-marg-top
                    .media
                      %i.fa.fa-calendar.ico-circle.ico-blue.pull-left
                      .media-body Facilities
              .col-md-9.col-sm-8
                .inner-col
                  %p Pool, Sauna, Hammam, Wellness area, Cardio area, Strength area, Free weight area
            
            %hr
            
            .row-options.row
              .col-md-3.col-sm-4
                .inner-col
                  %h6.text-primary.no-marg-top
                    .media
                      %i.fa.flaticon-shake.ico-circle.ico-blue.pull-left
                      .media-body Services
              .col-md-9.col-sm-8
                .inner-col
                  %p Personal training, Nutrition consulting 
            
            %hr
            
            .row-options.row
              .col-md-3.col-sm-4
                .inner-col
                  %h6.text-primary.no-marg-top
                    .media
                      %i.fa.flaticon-24hour.ico-circle.ico-blue.pull-left
                      .media-body Practical
              .col-md-9.col-sm-8
                .inner-col
                  %p open 7/7, bar, restaurant, individual showers
                
        / END %article
            
            
        %aside.provider-right-info.col-md-4.marg-bottom
          .provider-address
            .form-group
              = link_to 'http://www.thewebsite.com/', :class => 'btn btn-default btn-block btn-shadow', :target => '_blank' do
                %i.fa.fa-globe
                www.thewebsite.com
            .form-group
              = link_to 'mailto:info@thewebsite.com', :class => 'btn btn-default btn-block btn-shadow', :target => '_blank' do
                %i.fa.fa-envelope-o
                info@thewebsite.com
            .form-group
              = link_to 'tel:022112345678', :class => 'btn btn-default btn-block btn-shadow', :target => '_blank' do
                %i.fa.fa-phone
                0221 1234 5678
          .wrapper-map
            .flex-video.squarescreen.thumbnail
              %iframe{frameborder: "0", height: "410", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?q=%D0%B1%D0%B5%D1%80%D0%BB%D0%B8%D0%BD&ie=UTF8&hq=&hnear=%D0%91%D0%B5%D1%80%D0%BB%D0%B8%D0%BD,+%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F&gl=md&t=m&ll=52.520399,13.404694&spn=0.342604,1.303253&z=10&iwloc=A&output=embed&hl=en", width: "950"}
            .bottom-info.row
              .col-md-8.col-sm-9.clearfix
                .pull-left.marg-bottom
                  .media
                    %i.fa.fa-map-marker.pull-left
                    .media-body
                      %strong Bonner Straße 209
                      .small 50968 Köln
              .col-md-4.col-sm-3.text-right
                = link_to '#', :class => 'btn btn-default btn-block btn-shadow marg-bottom', :target => '_blank' do
                  %i.fa.fa-road
                  Route
          %hr.no-marg-top
          .open-hours-list
            %h6
              .media
                %i.fa.fa-clock-o.pull-left
                .media-body Opening Hours
            %ul.list-unstyled
              %li 
                .day Monday
                .time 08:00 - 21:00
              %li.active 
                .day Tuesday
                .time 08:00 - 21:00
              %li
                .day Wednesday
                .time 08:00 - 21:00
              %li 
                .day Thrusday
                .time 08:00 - 23:00
              %li 
                .day Friday
                .time 08:00 - 21:00
              %li 
                .day Saturday
                .time 10:00 - 18:00
              %li
                .day Sunday
                .time 10:00 - 18:00
        / END %aside.provider-right-info        
      / END .row
      
      %hr.no-marg-top
            
      .row-options
        .inner-col.marg-bottom
          %h6.text-warning.no-marg-top
            .media
              %i.fa.flaticon-euro.ico-circle.ico-orange.pull-left
              .media-body Pricing Plan
              
      .row
        .col-md-6
          .item-pricing
            .media
              .price.pull-right
                99,<sup>00</sup> &euro;
                .small for 10 sessions
              .media-body
                %h6 Yoga, Pilates and Prevention classes
                .small 
                  valid until: 
                  %time 31/02/2014
        .col-md-6
          .item-pricing
            .media
              .price.pull-right
                129,<sup>00</sup> &euro;
                .small for 10 sessions
              .media-body
                %h6 Yoga, Pilates and Prevention classes
                .small 
                  valid until: 
                  %time 31/02/2014
        .col-md-6
          .item-pricing
            .media
              .price.pull-right
                99,<sup>00</sup> &euro;
                .small for 10 sessions
              .media-body
                %h6 Yoga, Pilates and Prevention classes
                .small 
                  valid until: 
                  %time 31/02/2014
        .col-md-6
          .item-pricing
            .media
              .price.pull-right
                129,<sup>00</sup> &euro;
                .small for 10 sessions
              .media-body
                %h6 Yoga, Pilates and Prevention classes
                .small 
                  valid until: 
                  %time 31/02/2014
      / END .row
      
      %hr.no-marg-top
      
      .row-options
        .inner-col.marg-bottom
          %h6.text-primary.no-marg-top
            .media
              %i.fa.flaticon-calendar.ico-circle.ico-blue.pull-left
              .media-body Detailed Calendar
      .row
        .col-md-9
          #provider-calendar  
        .filter-calendar-sidebar.col-md-3
          .dropdown
            %button.btn.btn-default.btn-sm.btn-shadow.dropdown-toggle.btn-block{:type => 'button', :data => {:toggle => 'dropdown'}}
              Yoga
              %span.caret
            %ul.dropdown-menu{:role => 'menu'}
              %li= link_to 'Bodypump', '#'
              %li.active= link_to 'Yoga', '#'
              %li= link_to 'Taichi', '#'
              %li= link_to 'Spinning', '#'
              %li= link_to 'Les Mills', '#'
              %li= link_to 'Zumba', '#'
              %li= link_to 'Swimming', '#'
              %li= link_to 'Athletics', '#'
              %li= link_to 'Judo', '#'
              %li= link_to 'Scubadiving', '#'
              %li= link_to 'Aquagym', '#'
              %li= link_to 'Aerobic', '#'
              %li= link_to 'Prevention', '#'
              %li= link_to 'Anti stress', '#'
              %li= link_to 'Autogenes', '#'
          %h6 Monday 13 January
          %p 
            Yoga 1 -Hanna
            %br
            08:00 - 09:00 - room 2
          %p 
            Yoga 2 -Hanna
            %br
            19:00 - 20:00 - room 2
          %h6 Tuesday 14 January
          %p 
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %h6 Thursday 16 January
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %h6 Saturday 18 January
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %h6 Monday 20 January
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
          %p
            Yoga 1 -Hanna
            %br
            12:00 - 13:00 - room 2
        / END .filter-calendar-sidebar
    / END .provider-unit
    
    %p.last-updated.small
      Last update: 1 week ago   
                    
  / END .container.well-white
/ END .content-page