%nav.menu
  %ul.nav.nav-pills.nav-stacked
    %li.active= link_to 'Home', '#'
    %li= link_to 'Marketplace', '#'
    %li= link_to 'About us', '#'
    %li= link_to 'FAQ', '#'
    %li= link_to 'Provider section', '#'
    %li= link_to 'Jobs', '#'
    %li= link_to 'Contacts', '#'
    %li= link_to 'Press & Media', '#'