%header.header
  .navbar.navbar-default.navbar-fixed-top
    %ul.nav.navbar-nav.navbar-left
      %li
        = link_to '#', :class => 'toggle-menu' do
          %i.fa.fa-bars
          Menu
      %li
        = link_to 'http://blog.fitogram.de/' do
          %i.glyphicon.glyphicon-list-alt
          blog
          
    .navbar-header
      = link_to '/', :class => 'navbar-brand', :title => 'fitogram' do
        = image_tag("logotype.png")
    
    - if content_for?(:header_search_place)
      .navbar-form.navbar-right
        = yield(:header_search_place)
      
/ END .header         
