!!!
%html
  %head
    %title Fitogram
    %meta{charset: "utf-8"}/
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"    
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&libraries=places", "data-turbolinks-track" => true
    - if content_for?(:html_head)
      = yield(:html_head)
    = csrf_meta_tags
  %body  
    .root
      = render 'layouts/header'
      = render 'layouts/navigation'
      
      .wrapper-content
        = yield
        
      .root-footer
      
    = render 'layouts/footer'